/* CSS Document */

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	height: auto;
	background: linear-gradient(50deg, #e9018b, #4e4a9e);
	color:#fff;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(78, 74, 158, 0.3);
	border-radius: 10px;
	background-color: #051337;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #4e4a9e;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(78, 74, 158, 0.3);
	background-color: #0b2873;
}


h1 {
	font-size: 40px;
}

h2 {
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
}

h4 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
}

#intro {
	background: url(../images/back_1.jpg);
	background-repeat: no-repeat;
	position: relative;
	top:0;
	width: 100%;
	height:100vh;
	padding:0;
	margin: 0;
}

.logo1 {
    float: left;
    padding-left: 210px;
    padding-top: 20px;
}

nav {
    display: block;
	float: right;
	margin: 20px 40px 20px 0;
}

.menu {
    display: block;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    font-weight: 300;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    color: #fff;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,.menu li:hover>a {
    color: #e9018b;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    position: absolute;
    left: 0px;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
}

.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    display: block;
    color: #fff;
}

.menu ul li a:hover,.menu ul li:hover>a {
    color: #e9018b;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.menu ul ul {
    left: 169px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transform: translate(20px,20px);
    transition: all 0.2s ease-out;
}

.menu ul ul:after {
    left: -6px;
    top: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 6px;
    margin-top: -6px;
}

.menu li>ul ul:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}

.responsive-menu {
    display: none;
    padding: 0px 15px;
    color: #fff;
    text-transform: uppercase;
	text-decoration: none;
}

.responsive-menu:hover {
    color: #fff;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background: linear-gradient(50deg, #e9018b, #4e4a9e);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 3px);
    transform: rotate(-45deg) translate(-9px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -5px);
    transform: rotate(45deg) translate(-8px, -5px);
}

.zerp {
    background: linear-gradient(45deg, #e9018b, #4e4a9e);
    border-radius: 25px;
	padding: 0 10px;
}

.content_1 {
	clear: both;
	padding-top: 130px;
}


.content_1 img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.content_2 {
	text-align:center;
	margin-top: 100px;
}

.content_2 p {
	font-size:20px;
	color: #fff;
	padding:0;
}

.btn1 {
	display: inline;
	background: none;
	border: 1px solid #fff;
	text-transform: uppercase;
	padding:0 75px;
	border-radius: 35px;
	margin-right: 10px;
}


.btn4 {
	background: none;
	border: 1px solid #fff;
	text-transform: uppercase;
	padding:0 63px;
	border-radius: 35px;
}

.btn4 img {
	padding-right:5px;
}

#mc_embed_signup{
	text-align: center;
	margin-top: 100px;
}

#mce-EMAIL {
    font-family: "Open Sans";
    font-size: 14px;
    border: 1px solid #fff;
	background: none;
    color: #fff;
    box-sizing: border-box;
    height: 50px;
    padding: 0px 18px;
    margin: 0;
    width: 350px;
    vertical-align: top;
}

#mc-embedded-subscribe {
	display: inline;
    font-size: 14px;
    border: none;
    border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
    letter-spacing: .03em;
    color: #fff;
    background: linear-gradient(45deg, #e9018b, #4e4a9e);
    box-sizing: border-box;
    height: 51px;
    line-height: 32px;
    padding: 0 30px;
    margin: 0;
    transition: all 0.23s ease-in-out 0s;
}


#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: rgba(0, 0, 0, 0.17);
	text-align: center;
}

.social {
	list-style: none;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
	padding-top: 5px;
}

.social li {
	display: inline;
	padding-right: 40px;
}

#about {
	top:0;
	width: 100%;
	margin: 0;
	position: relative;
}

.about {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.about h2,
.mission h2{
	padding-top: 100px;
	margin: 0;
	color: #fff;
}

video {
	width: 500px; 
	height:300px;
}

.video {
	float: left;
	padding-top: 50px;
	padding-right: 50px;
}

.zygot {
	text-align: justify;
	overflow: auto;
	padding-top: 50px;
}

.zygot p {
	margin: 0;
}

.mission {
	clear: both;
	padding-top: 70px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	color: #fff;
	text-align: justify;
}

#team {
	padding-top: 100px;
}

.creator {
	padding-bottom: 50px;
}

.creator .line {
    width: 10%;
}

h6 {
	margin-top:5px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 300;
}

.content_7 {
	width: 65%;
	margin:100px auto;
}

.content_8 {
	clear: both;
	width: 65%;
	margin-top:100px;
	margin-left: auto;
	margin-right: auto;
}

.adv h4 {
	font-size: 30px;
}

.adv p{
	font-size: 50px;
    text-align: center;
    font-weight: 400;
	margin-bottom: 0;
}

.adv .line {
    width: 10%;
	margin-bottom: 30px;
}

.team1,
.team2,
.team3,
.team4,
.team5,
.team6,
.team7,
.team8,
.team9  {
	float:left;
	padding-right:15px;
}

.contain_1 {
	float:left;
	margin-bottom: 50px;
}

.contain_1 h5,
.contain_2 h5,
.contain_3 h5,
.contain_4 h5,
.contain_5 h5,
.contain_6 h5,
.contain_7 h5,
.contain_8 h5,
.contain_9 h5 {
	font-weight: 400;
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 10px;
}

.contain_1 p,
.contain_2 p,
.contain_3 p,
.contain_4 p,
.contain_5 p,
.contain_6 p,
.contain_7 p,
.contain_8 p,
.contain_9 p {
	font-size:14px;
	text-align: justify;
	width: 600px;
}

.contain_2 {
	float:right;
}

.contain_3 {
	clear: both;
	float: left;
	margin-bottom: 50px;
}

.contain_4 {
	clear:both;
	float: left;
	margin-bottom: 50px;
}

.contain_5 {
	float: right;
	margin-bottom: 20px;
}

.contain_6 {
	float: left;
	margin-bottom: 50px;
}

.contain_7 {
	float: right;
	margin-bottom: 50px;
}

.contain_8 {
	float: left;
}

.contain_9 {
	float: right;
}

#vertex {
	clear: both;
    top: 0;
    width: 60%;
    padding: 0;
    margin: 0px auto 50px;
    text-align: center;
    padding-top: 50px;
}

#vertex h4 {
	padding-top: 20px;
}

#vertex p {
    text-align: justify;
    display: -webkit-inline-box;
}

.container_1 {
	margin-bottom: 100px;
}

.container_1 h4 {
	margin-bottom: 50px;
}

.link_4 {
	color: #fff;
	text-decoration:none;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 3px;
}

.vertex {
	text-align: center;
}

#lightpaper {
	clear: both;
	padding: 20px 0;
}

#lightpaper p {
	color:#fff;
}

.lightpaper {
	margin-left: auto;
	width: 60%;
}

.light {
	float: left;
	padding-right: 200px;
}
.light p,
.white p {
	display: -webkit-inline-box;
    padding-left: 5px;
    font-weight: 300;
}


#problem {
	clear: both;
	width: 100%;
	padding-top: 100px;
}

.content_5 {
	float: left;
	width: 30%;
	margin-left: 300px;
	text-align: center;
	background-color: rgba(255,255,255,0.10);
	box-shadow: 0 14px 36px 0 rgba(0,0,0,0.4);
	padding: 70px 30px 30px;;
}

.text_13,
.text_14 {
	text-align: justify;
    font-weight: 300;
    margin: 0;
}

.content_6 {
	float: right;
	width: 30%;
	word-spacing: -2px;
	margin-right: 300px;
	text-align: center;
	background-color: rgba(255,255,255,0.10);
	box-shadow: 0 15px 30px 0 rgba(0,0,0,0.4);
	padding: 70px 30px 30px;
	
}

.btn-container {
    margin: auto;
}

#text,
#text1 {
	display:none;
}

button{
	user-select:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	cursor:pointer;
	border:1px solid #fff;
	border-radius: 20px;
	background: none;
    padding:8px 30px;
    font-size: 14px;
    color:#fff;
    box-sizing:border-box;
	margin-top: 15px;
}

#eos {
	clear: both;
	top:0;
	width: 100%;
	height:auto;
	margin: 0;
}

.content_14 {
	padding-top: 100px;
}

.content_14 h3 {
	text-align: center;
	color: #fff;
}

.blockchain{
	-webkit-animation: rotation 5s infinite linear;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes rotation {
		from {
			-webkit-transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(359deg);
		}
}


/* Slideshow container */
.slideshow-container {
  position: relative;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  transition:opacity .25s ease;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 16px;
  color: #fff;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
	transition-duration: 5s;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #4e4a9e;
}

/* Add an italic font style to all quotes */
q {
	color: #fff;
	font-weight: 300;
}

/* Add a blue color to the author */
.author {
	color: #4e4a9e;
}

#roadmap {
	background: url(../images/back_3.jpg);
	top:0;
	width: 100%;
	height:100vh;
	margin: 0;
	position: relative;
	padding-top: 100px;
}

.content_3 h2 {
    color: #fff;
	margin-top: 0;
	text-align: center;
	margin-bottom: 100px;
}

.content_3{
	width: 60%;
	margin: 0 auto;
}

#token {
	top:0;
	width: 100%;
	height:auto;
	margin: 0;
	padding-top: 100px;
}

.tab {
  padding-top: 50px;
  margin-bottom: 20px;
  margin-left: 250px;
  position: relative;
  overflow: hidden;
  width: 30%;
  line-height: 1.5;
  font-weight: 300;
  float: left;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.tabs a {
  color: #fff;
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid #4e4a9e;
}

.tabs_item {
  display: none;
  padding: 30px 0;
  text-align: justify;
}
.tabs_item h4 {
  font-size: 20px;
}

.tabs_item:first-child {
  display: block;
}

.current a {
  color: #fff;
  background: #4e4a9e;
}

.content_4 {
	float: right;
	width: 30%;
	margin-right: 250px;
    margin-top: 100px;
}

#footer1 {
	clear: both;
	background-image:url(../images/back_3.jpg);
	margin-top:50px;
	width: 100%;
}

.row {
    padding-top: 30px;
	padding-bottom: 20px;
	text-align: left;
	width: 60%;
    margin: 0 auto;
}


.link_2 {
	text-decoration: none;
	color: #fff;
	padding-bottom: 8px;
	font-weight: 100;
}

.link_2:hover {
	color: #e9018b;
}

hr {
	margin-top: 20px;
	border-style: inset;
	border-color: rgba(255, 255, 255, 0.5);
}

.row p{
	color: #fff;
	font-size: 14px;
	margin: 0;
}

.link_3 {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
}

.link_3:hover {
	color: #e9018b;
}


@media only screen and  (max-width: 1680px) {
	nav {
		margin: 15px 70px 20px 0;
	}
	
	.content_1 img {
		width: 40%;
	}
	
	.content_7, .content_8 {
		width: 75%;
	}
	
	.contain_1 {
		float: left;
		margin: 0 0px 50px 0;
	}
	
	.contain_2 {
		float: right;
		margin-right: 0;
	}
	
	.contain_1 p, .contain_2 p, .contain_3 p, .contain_4 p, .contain_5 p, .contain_6 p, .contain_7 p, .contain_8 p, .contain_9 p {
		font-size: 14px;
		text-align: justify;
	}
	
	.content_5 {
		margin-left: 250px;
	}
	
	.content_6 {
		margin-right: 250px;
		letter-spacing: -0.35px;
	}
	
	.tab {
		width: 35%;
	}

}

@media only screen and  (max-width: 1440px) {
	.logo1 {
		padding-left: 100px;
		padding-top: 30px;
	}
	
	.content_1 img{
		width: 40%;
	}
	
	.content_1 {
		padding-top: 90px;
	}
	
	.video {
		float: none;
		padding-right: 0;
		text-align: center;
	}

	.content_7, .content_8 {
		width: 65%;
	}
	
	.contain_1 h5, .contain_2 h5, .contain_3 h5, .contain_4 h5, .contain_5 h5, .contain_6 h5, .contain_7 h5, .contain_8 h5, .contain_9 h5 {
		font-size: 22px;
	}
	
	.contain_1 p, .contain_2 p, .contain_3 p, .contain_4 p, .contain_5 p, .contain_6 p, .contain_7 p, .contain_8 p, .contain_9 p {
		width: 400px;
	}
	
	.contain_4 {
		margin-bottom: 115px;
	}

	.content_5 {
		float:none;
		width: 60%;
    	margin: 0 auto;
	}
	.content_6 {
		word-spacing: 0;
		letter-spacing: 0px;
		float:none;
		width: 60%;
    	margin: 50px auto 0;
	}
	
	.map{
		width: 100%;
	}
	
	.tab {
		float:none;
		width: 60%;
		margin: 0 auto;
	}
	
	.content_4 {
		display: none;
	}

}

@media only screen and  (max-width: 1366px) {
	.logo1 {
		padding-left: 90px;
	}
	
	.content_1 img {
		width: 35%;
	}
	
	#mc_embed_signup {
		margin-top: 60px;
	}

	.content_7, .content_8 {
		width: 70%;
	}
	
	.contain_5 p {
		padding-left: 165px;
		width: 230px;
	}
	
	.contain_4 {
		margin-bottom: 150px;
	}

	.contain_8 .link_1 {
		padding-left: 165px;
	}

}

@media only screen and  (max-width: 1024px) {
	.logo1 {
		padding-left: 0;
		display: block;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
	#mce-EMAIL {
		width: 250px;
	}
	
	#menu {
		float: none;
		text-align: center;
	}
	
	.dropdown {
		text-align: left;
		padding-left: 20px;
	}
	
	.video {
		float: none;
		text-align: center;
	}
	
	.contain_1, .contain_2, .contain_3, .contain_4, .contain_5, .contain_6, .contain_7, .contain_8, .contain_9 {
		float: none;
	}
	
	.contain_1 {
		margin-bottom: 20px;
	}
	.contain_2, .contain_4 {
		margin-bottom: 50px;
	}
	
	.contain_7 {
		margin-bottom: 60px;
	}
	
	.creator .line {
		width: 17%;
	}
	
	.adv .line {
		width: 16%;
	}

}


@media only screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
	
	h2 {
		font-size: 30px;
	}
	
	h4 {
		font-size: 24px;
	}
	
	#intro {
		background: url(../images/back_4.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.logo1 {
		width: 40%;
	}

	.mainWrap {
		width: 100%;
		margin-left: 0;
    }

    .menu {
        display: none;
		position: absolute;
		width: 100%;
    	height: 78%;
    	padding: 0;
		background: #051336;
		margin-top: 0;
    }

    .responsive-menu {
        display: block;
    }

    nav {
        margin: 0;
        background: none;
		float: left;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a {
        background: #051336;
        color: #fff;
    }

    .menu li a:hover,.menu li:hover>a {
    	color: #fff;
    }

    .menu ul {
        visibility: hidden;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        transform: initial;
    }

    .menu li:hover>ul {
        visibility: visible;
        opacity: 1;
        position: relative;
        transform: initial;
    }

    .menu ul ul {
        left: 0;
        transform: initial;
    }

    .menu li>ul ul:hover {
        transform: initial;
    }
	
	.zerp {
		background: none;
		border-radius: 0px;
		padding: 0px;
	}
	
	.content_1 img {
		width: 80%;
	}

	#mce-EMAIL {
		width: 175px;
	}
	
	#mc_embed_signup {
		margin-top: 75px;
	}
	#mc-embedded-subscribe {
		padding: 0 20px;
	}
	
	#footer {
		position: absolute;
		height: 30px;
	}
	
	.social img {
		width:4%;
	}
	
	.social li {
		padding-right: 15px;
	}
	
	.social li:last-child {
		padding-right: 0;
	}
	
	.about,
	.mission {
		width: 75%;
	}
	
	.mission {
		padding-top: 100px;
	}
	
	.about h2 {
		padding-top: 50px;
	}
	
	.mission h2 {
		padding-top: 0;
	}
	
	video {
		width: 300px;
		height: auto;
	}
	
	.content_7 {
		width: 75%;
		margin: 50px auto;
	}
	
	.creator .line,
	.adv .line {
		width: 32%;
	}
	
	.team1, .team2, .team3, .team4, .team5, .team6, .team7, .team8, .team9 {
		float:none;
		width: 40%;
	}
	
	.contain_1 p, .contain_2 p, .contain_3 p, .contain_4 p, .contain_5 p, .contain_6 p, .contain_7 p, .contain_8 p, .contain_9 p {
		width: 300px;
	}
	
	.adv h4 {
		font-size: 24px;
	}
	
	.contain_5 p {
		padding-left: 0;
	}
	
	.contain_8 .link_1 {
		padding-left: 0;
	}
	
	#vertex {
		width: 75%;
	}
	
	.logo{
		width: 20%;
	}
	
		.container_1 {
		margin-bottom: 50px;
	}
	
	#problem {
		padding-top: 30px;
	}
	
	.content_5, .content_6{
		padding: 50px 30px 30px;
	}
	
	.content_5 img, .content_6 img {
		width: 30%;
	}
	
	h3 {
		font-size: 24px;
	}
	
	.slideshow-container {
		width: 100%;
	}
	
	#roadmap {
		height: auto;
	}
	
	.content_3 {
		width: 90%;
		padding-bottom: 50px;
	}
	
	.content_3 h2 {
		margin-bottom: 30px;
	}
	
	#token {
		padding-top: 50px;
	}
	
	.tab {
		width: 75%;
	}
	
	.tabs {
		border: 2px solid #4e4a9e;
		width: 321px;
	}
	
	.tabs a {
		border-bottom: none;
	}

	.tabs li {
		width: 321px;
	}
}

@media only screen and (max-width: 480px) {
	#mc_embed_signup {
		text-align: center;
		margin-top: 20px;
	}
}
























